body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

.header {
  background-size: cover;
  background-position: center;
  height: 500px; /* Điều chỉnh chiều cao của header */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.header h1 {
  font-family: "Arial", sans-serif;
  /* font-size: 32px; */
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* text-shadow: offset-x offset-y blur-radius color */
  text-transform: uppercase;
}
.header-content {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.pdf-container {
  width: 100%;
  height: calc(100vh - 100px); /* subtract header height */
}

.header h2 {
  font-family: "Arial", sans-serif;
  font-size: 26px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* text-shadow: offset-x offset-y blur-radius color */
}
.play-button:hover {
  background-color: #dcdcdc; /* Màu nền khi hover */
  color: #00bfff; /* Màu chữ khi hover */
  text-decoration-line: underline;
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi */
}

/* NEW code*/
.thumbnail-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

/* Kích thước hình ảnh thumbnail */
#thumbnail {
  width: 100%;
  height: auto;
}

/* Thiết lập kiểu border-radius cho mini music box */
.mini-music-box {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px; /* Tăng khoảng cách giữa nội dung và biên */
  border: 2px solid #ddd; /* Màu sắc border */
  border-radius: 20px; /* Bo tròn góc */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Canh giữa các thành phần bên trong */
}

/* Thiết lập kiểu hiển thị và khoảng cách giữa các controls */
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px; /* Khoảng cách giữa nút play/pause và thanh trượt */
  position: relative;
}
#progressSlider {
  flex-grow: 4; /* Thanh trượt tiến độ chiếm gấp ba chiều rộng so với thanh trượt âm lượng */
  position: relative;
}
/* Thiết lập kiểu hiển thị cho nút play/pause */
.play-pause-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  transition: color 0.3s ease;
}

.play-pause-btn:hover {
  color: #333;
}

/* Thiết lập kiểu hiển thị cho thanh trượt âm lượng */
input[type="range"]#volumeSlider {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: calc(100% / 4);
  margin-left: 20px; /* Khoảng cách giữa thanh trượt và biểu tượng âm lượng */
}

/* Thiết lập kiểu hiển thị cho biểu tượng âm lượng */
.volume-icon {
  font-size: 20px;
  color: #555;
  margin-right: 20px; /* Khoảng cách giữa biểu tượng âm lượng và thanh trượt */
}

/* Thiết lập kiểu hiển thị cho thanh trượt tiến độ */
input[type="range"]#progressSlider {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: calc((100% / 4) * 3);
  margin-left: 20px; /* Khoảng cách giữa thanh trượt và biểu tượng play/pause */
}

/* Thiết lập kiểu hiển thị cho biểu tượng play/pause */
#playPauseIcon {
  font-size: 24px;
  color: #555;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #555;
  border-radius: 50%; /* Bo tròn cho biểu tượng trên thanh trượt */
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #555;
  border-radius: 50%; /* Bo tròn cho biểu tượng trên thanh trượt */
  cursor: pointer;
}

.song-info {
  position: absolute;
  top: -10px; /* Điều chỉnh vị trí phía trên của song-info */
  left: 43.5%;
  transform: translateX(-50%);
  text-align: left;
  color: #555;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

/* CSS cho các thiết bị có độ rộng nhỏ hơn hoặc bằng 430px (điện thoại) */
@media only screen and (max-width: 430px) {
  .mini-music-box {
    padding: 20px; /* Giảm khoảng cách giữa nội dung và biên */
  }
  .song-info {
    top: -20px; /* Điều chỉnh vị trí phía trên của song-info */
    left: 41%;
  }
  .thumbnail-container {
    width: 60px; /* Điều chỉnh kích thước của thumbnail cho điện thoại */
    height: 60px;
    margin-right: 0px;
  }
  .header-content h1 {
    font-size: 28px;
  }
  .header-content h2 {
    font-size: 20px;
  }
}
/* CSS cho các thiết bị có độ rộng nhỏ hơn hoặc bằng 390px (điện thoại) */
@media only screen and (max-width: 390px) {
  .mini-music-box {
    /* padding: 20px; Giảm khoảng cách giữa nội dung và biên */
  }
  .song-info {
    top: -15px; /* Điều chỉnh vị trí phía trên của song-info */
    left: 41%;
    font-size: 20px;
  }
  .thumbnail-container {
    width: 58px; /* Điều chỉnh kích thước của thumbnail cho điện thoại */
    height: 58px;
    margin-right: 0px;
  }
  .header-content h2 {
    font-size: 18px;
  }
}
/* CSS cho các thiết bị có độ rộng nhỏ hơn hoặc bằng 360px (điện thoại) */
@media only screen and (max-width: 360px) {
  .mini-music-box {
    /* padding: 20px; Giảm khoảng cách giữa nội dung và biên */
  }
  .song-info {
    top: -15px; /* Điều chỉnh vị trí phía trên của song-info */
    left: 41%;
    font-size: 18px;
  }
  .thumbnail-container {
    width: 55px; /* Điều chỉnh kích thước của thumbnail cho điện thoại */
    height: 55px;
    margin-right: 0px;
  }
}

/* CSS cho các thiết bị có độ rộng nhỏ hơn hoặc bằng 280px (điện thoại) */
@media only screen and (max-width: 280px) {
  .mini-music-box {
    /* padding: 20px; Giảm khoảng cách giữa nội dung và biên */
  }
  .song-info {
    top: -15px; /* Điều chỉnh vị trí phía trên của song-info */
    left: 43%;
    font-size: 16px;
  }
  .thumbnail-container {
    width: 40px; /* Điều chỉnh kích thước của thumbnail cho điện thoại */
    height: 40px;
    margin-right: 0px;
  }
  .header-content h1 {
    font-size: 20px;
  }
}

* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
}
.slideWrapper {
  background-image: url(/assets/Na.jpg);
  width: 100%;
  height: 100%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 900px;
  overflow: hidden;
  border-radius: 20px;
}
.mySlides img {
  height: auto;
  max-height: 900px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* Caption text */
.text {
  color: black;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  text-shadow: #717171;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 5px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 430px) {
  .text {
    position: relative;
  }
  .slideshow-container {
    height: 650px;
    border-radius: 0%;
  }
  .slideWrapper {
    height: 650px;
  }
  .mySlides img {
    border-radius: 0%;
    height: 610px;
  }
  .dot {
    margin-top: 5px; /* Điều chỉnh khoảng cách trên của .dot */
    margin-bottom: 0; /* Loại bỏ khoảng cách dưới của .dot */
  }
}
